<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="AngularPOCContext"
         connectionString="Server=cb64b06f-996b-4f77-aa39-a26500cf6f47.sqlserver.sequelizer.com;Database=dbcb64b06f996b4f77aa39a26500cf6f47;User ID=ppglebvrucpwpkvf;Password=PuRxf8xdpDMHbK3uWQKhsPFQJT43fG7k7CDXEr7KnmnMxrMnmqf4VS3aWaVtdD6P;" />
  </connectionStrings>
</configuration>